body
    margin 0
    padding 0

.page
    &__header
        display: flex
        justify-content: space-between
        align-items: flex-end
        margin-top: 1.5rem
        padding-bottom: 0.3rem
        border-bottom: 4px double $theme-grey
    &__intro-para
        margin-top: 3rem