.btn
    display: inline-block
    color: #FFF
    border: none
    border-radius: 0.625rem
    font-family: Barlow
    font-weight: 700
    font-size: 1.125rem
    line-height: 1.22em
    text-align: center
    text-decoration: none
    &:hover
        transition: all 0.2s ease-in-out
        background-color: $theme-grey-lt
    &-xl
        width: 100%
        height: 2.5rem
    &-lg
        width: 13.9375rem
        padding: 0.8125rem 0
        +.btn-lg
            margin-left: 2vw
    &-sm
        width: 6.375rem
        margin-bottom: 0.6rem
        padding 0.275rem 0 0.35rem 0
        border-radius: 0.3125rem
        font-size: 0.6875rem
        line-height: 0.8125rem
    &-xs
        width: 3rem
        // margin-bottom: 0.6rem
        margin-left: 0.875rem;
        padding 0.1rem 0 0.1rem 0
        border-radius: 0.3125rem
        font-family: Barlow
        font-weight: 700
        font-size: 0.75rem
        line-height: 0.875rem
        text-align: center
        letter-spacing: 0.05em
        text-transform: uppercase

    &--green
        transition: all 0.2s ease-in-out
        background-color: $theme-green
        &:hover
            transition: all 0.2s ease-in-out
            color: $theme-green
    &--blue
        background-color: $theme-blue
        &:hover
            transition: all 0.2s ease-in-out
            color: $theme-blue