$shark-grey = #232325
$shark-grey-ligher = #353538
$bayoux-blue = #667581
$dawn-green = #A69F93
$primary-orange = #FFDA00
$poppy-red = #B74628
$poppy-red-dk = #4d1e11

$theme-grey = $shark-grey
$theme-grey-lt = $shark-grey-ligher
$theme-blue = $bayoux-blue
$theme-green = $dawn-green
$theme-orange = $primary-orange
$theme-red = $poppy-red
$theme-red-dk = $poppy-red-dk