.navbar
    display: flex
    justify-content: center
    position: relative
    // max-width: 1000px
    padding: 0.3rem 10vw
    background-color: #FFF
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    &__container
        display: flex
        justify-content: space-between
        flex-grow: 1
        position: relative
        max-width: 1400px
    &__nav
        display: flex
        justify-content: space-between
        flex-grow: 1
    &__link
        width: 5.3rem
        font-family: Cairo
        font-weight: 400
        font-size: 1.125rem
        text-decoration: none
        text-align: center
        color: $theme-grey
        &--active, &:hover
            color: $theme-blue
            font-weight: 700
    &__spacer
        width: 151px

    &__logo
        position: absolute
        top: -2.1rem
        right: 0vw
        margin 0
        padding: 5.38125rem 0.1875rem 0.95625rem 1.51875rem
        border: 0.25rem solid #FFF
        border-top: none
        background-color: $theme-orange
        box-shadow: 0.625rem 0.625rem 0.5rem rgba(0, 0, 0, 0.5);
        z-index: 2
        &-img
            width: 90%
