.services-list
    // background-color: red
    &__ul
        display: flex
        justify-content: space-around
        flex-wrap: wrap
        padding: 0
    &__li
        display: flex
        align-items: center
        width: 11.75rem
        // flex-basis: 30.5%
        margin-top: 1.15rem
        // background-color: gold
    &__img
        margin-right: 1.3125rem
    &__text
        font-family: Barlow
        font-weight: 700
        font-size: 1.125rem
        color: $theme-grey
    &__end-para
        margin-top: 2.5rem
        text-align: justify
        text-align-last: center
        > a
            color: $theme-blue
            font-weight: 700
            text-decoration: none

.services-images
    display: flex
    justify-content: space-between
    padding: 0.5rem 0