@import url('https://fonts.googleapis.com/css?family=Barlow:400,700|Cairo:400,700&display=swap');

h1, h2, h3, h4, h5, h6, p, div, span, small
    color $theme-grey-lt

h1, h2, h3, h4, h5, h6, label
    font-family: Barlow, sans-serif;

h1, h2, h4, h5
    font-weight: 700;

h3, h6
    font-weight: 400;

p, div, span, small, cite
    font-family: Cairo, sans-serif;

label
    margin-bottom: 0.75rem
    color #FFF
    font-size: 1rem
    font-weight: 700
    line-height: 1.222em

h1
    margin: 0
    font-size: 4.5rem;
    line-height: 1.194em;
    letter-spacing: 0.03em;
    text-transform: uppercase;
h2
    font-size: 2.25rem;
    line-height: 1.194em;

h3
    font-size: 1.5rem;
    line-height: 1.2083em;

h4
    font-size: 1.125rem;
    line-height: 1.222em;
    letter-spacing: 0.05em;
    text-transform: uppercase;

h5
    font-size: 1.125rem;
    line-height: 1.222em;
    letter-spacing: 0.05em;

p, div, span, small
    font-size: 1.0625rem;
    line-height: 1.8823em;